---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import ArtistesHero from "../../components/ArtistesHero.astro";
import ArtistCard from "../../components/ArtistCard.astro";
import { getArtistesByDate, getImageUrl } from "../../../backend/backend.mjs";

const tousLesArtistes = await getArtistesByDate();

const artistesAvecImage = tousLesArtistes.map((artiste) => {
    let imageUrl = "/images/image1home.webp";

    if (artiste.Image_artiste) {
        imageUrl = getImageUrl(artiste, artiste.Image_artiste);
    }

    return {
        artiste,
        imageUrl,
    };
});
---

<Layout titre="Les artistes">
    <section class="relative">
        <Header />
        <ArtistesHero />
    </section>

    <section id="liste-artistes" class="bg-primary px-6 pb-16 pt-8">
        <div class="mx-auto w-full max-w-5xl">
            <h2 class="font-title text-title text-center text-white">
                La liste des artistes
            </h2>

            <div class="mt-10 grid gap-8 md:grid-cols-2">
                {
                    artistesAvecImage.map(({ artiste, imageUrl }) => (
                        <ArtistCard artiste={artiste} imageUrl={imageUrl} />
                    ))
                }
            </div>
        </div>
    </section>
</Layout>
