---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ContactHero from "../components/ContactHero.astro";
import ContactFormSection from "../components/ContactFormSection.astro";
---

<Layout titre="Contact">
    <section class="relative">
        <Header />
        <ContactHero />
    </section>

    <ContactFormSection />
</Layout>
