---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import FaqHero from "../components/FaqHero.astro";
import FaqSection from "../components/FaqSection.astro";
---

<Layout titre="FAQ">
    <section class="relative">
        <Header />
        <FaqHero />
    </section>

    <FaqSection />
</Layout>
