---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HeroHome from "../components/HeroHome.astro";
import ProgramPreview from "../components/ProgramPreview.astro";
import PartnersSection from "../components/PartnersSection.astro";
import InfosPratiques from "../components/InfosPratiques.astro";
---

<Layout titre="Accueil">
	<section class="relative">
		<Header />
		<HeroHome />
	</section>

	<ProgramPreview />
	<PartnersSection />
	<InfosPratiques />
</Layout>
