---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout titre="Accueil">
	<section class="relative min-h-screen bg-primary">
		<Header />
	</section>
</Layout>
