---
const { artiste, imageUrl } = Astro.props;
---

<article class="overflow-hidden rounded-2xl bg-white p-2 shadow-md md:p-3">
    <a href={`/artistes/${artiste.id}`} class="block">
        <img
            src={imageUrl}
            alt={artiste.Nom}
            class="h-52 w-full rounded-xl object-cover md:h-60"
        />

        <div class="px-3 py-4 text-center">
            <h3 class="font-title text-subtitle text-primary">
                {artiste.Nom}
            </h3>
        </div>
    </a>
</article>
