---

---

<section id="contact-content" class="bg-primary px-6 pt-8 pb-16">
    <div class="mx-auto max-w-md">
        <h2 class="font-title text-title text-center text-white">
            Formulaire de
            <br />
            contact
        </h2>

        <form class="mt-12">
            <div class="grid grid-cols-2 gap-3">
                <div>
                    <label
                        for="prenom"
                        class="font-text text-subtitle text-white"
                    >
                        Prénom
                    </label>
                    <input
                        id="prenom"
                        name="prenom"
                        type="text"
                        class="mt-2 h-12 w-full rounded-md border-0 bg-white px-3 font-text text-primary outline-none"
                    />
                </div>

                <div>
                    <label for="nom" class="font-text text-subtitle text-white">
                        Nom
                    </label>
                    <input
                        id="nom"
                        name="nom"
                        type="text"
                        class="mt-2 h-12 w-full rounded-md border-0 bg-white px-3 font-text text-primary outline-none"
                    />
                </div>
            </div>

            <div class="mt-4">
                <label for="email" class="font-text text-subtitle text-white">
                    E-Mail
                </label>
                <input
                    id="email"
                    name="email"
                    type="email"
                    class="mt-2 h-12 w-full rounded-md border-0 bg-white px-3 font-text text-primary outline-none"
                />
            </div>

            <div class="mt-4">
                <label for="message" class="font-text text-subtitle text-white">
                    Message
                </label>
                <textarea
                    id="message"
                    name="message"
                    rows="7"
                    class="mt-2 w-full rounded-md border-0 bg-white px-3 py-3 font-text text-primary outline-none"
                ></textarea>
            </div>

            <div class="mt-4">
                <button
                    type="submit"
                    class="rounded-lg bg-primary-light px-10 py-3 font-text text-[1.75rem] font-semibold text-primary"
                >
                    Envoyer
                </button>
            </div>
        </form>
    </div>
</section>
