---
const partenaires = [
    { nom: "Ville de Montbéliard", image: "/svg/montbeliard-ville.svg" },
    { nom: "Pays de Montbéliard Agglomération", image: "/svg/pma.svg" },
    { nom: "FC Sochaux", image: "/svg/sochaux.svg" },
    { nom: "Région Bourgogne Franche-Comté", image: "/svg/france3.svg" },
    { nom: "Conservatoire de musique", image: "/svg/cnm.svg" },
    { nom: "L'Est Républicain", image: "/svg/est-rep.svg" },
    { nom: "Bourgogne Franche-Comté", image: "/svg/bfc.svg" },
    { nom: "Université Marie et Louis Pasteur", image: "/svg/univ.svg" },
    { nom: "Spotify", image: "/svg/spotify.svg" },
    { nom: "Evolity", image: "/svg/evolity.svg" },
];
---

<section class="bg-primary pb-14 pt-0">
    <div class="my-grid">
        <div class="lg:col-span-4">
            <h2 class="text-center font-title text-title text-white lg:text-left">
                Nos partenaires
            </h2>
        </div>

        <div class="mt-6 grid grid-cols-2 gap-x-7 gap-y-6 lg:col-span-8 lg:mt-0 lg:grid-cols-3">
            {
                partenaires.map((partenaire) => (
                    <article class="flex h-[5.6rem] items-center justify-center rounded-lg bg-primary-light px-4 lg:h-24">
                        <img
                            src={partenaire.image}
                            alt={partenaire.nom}
                            class="max-h-[3.8rem] w-auto object-contain"
                        />
                    </article>
                ))
            }
        </div>
    </div>
</section>
