---
const partenaires = [
    { nom: "Ville de Montbéliard", image: "/svg/montbeliard-ville.svg" },
    { nom: "Pays de Montbéliard Agglomération", image: "/svg/pma.svg" },
    { nom: "FC Sochaux", image: "/svg/sochaux.svg" },
    { nom: "Région Bourgogne Franche-Comté", image: "/svg/france3.svg" },
    { nom: "Conservatoire de musique", image: "/svg/cnm.svg" },
    { nom: "L'Est Républicain", image: "/svg/est-rep.svg" },
    { nom: "Bourgogne Franche-Comté", image: "/svg/bfc.svg" },
    { nom: "Université Marie et Louis Pasteur", image: "/svg/univ.svg" },
    { nom: "Spotify", image: "/svg/spotify.svg" },
    { nom: "Evolity", image: "/svg/evolity.svg" },
];
---

<section class="bg-primary pb-16 pt-2">
    <div class="my-grid gap-y-8 lg:items-start">
        <div class="lg:col-span-4 lg:pr-6">
            <h2 class="text-center font-title text-title text-white lg:text-left">
                Nos partenaires
            </h2>

            <p class="mx-auto mt-5 max-w-md text-center font-text text-body leading-[1.7] text-white/90 lg:mx-0 lg:text-left">
                Institutions, médias et acteurs locaux soutiennent la
                Fanfa'Comtoise et rendent cette édition possible.
            </p>
        </div>

        <div class="mt-2 grid grid-cols-2 gap-x-4 gap-y-4 lg:col-span-8 lg:mt-0 lg:grid-cols-4 xl:grid-cols-5">
            {
                partenaires.map((partenaire) => (
                    <article class="flex h-[5.6rem] items-center justify-center rounded-xl border border-white/15 bg-primary-light/90 px-4 transition-transform duration-200 hover:-translate-y-0.5 lg:h-24">
                        <img
                            src={partenaire.image}
                            alt={partenaire.nom}
                            class="max-h-[3.8rem] w-auto object-contain"
                        />
                    </article>
                ))
            }
        </div>
    </div>
</section>
